<!--<h1>{{ question.question_text }}</h1>-->
<!--<ul>-->
<!--    {% for choice in question.choice_set.all %}-->
<!--        <li>{{ choice.choice_text }}</li>-->
<!--    {% endfor %}-->
<!--</ul>-->

<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}

    <fieldset>
        <legend><h1>{{question.question_text}}</h1></legend>

        {% if error_message %}
        <p><strong>{{error_message}}</strong></p>
        {% endif %}

        {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}">
        <label for="choice{{forloop.counter}}">
            {{choice.choice_text}}
        </label>
        <br>
        {% endfor %}

        <input type="radio" name="choice_test" id="test1" value="good1">
        <label for="test1">
            테스트1번
        </label>

        <input type="radio" name="choice_test" id="test2" value="good2">
        <label for="test2">
            테스트2번
        </label>

    </fieldset>

    <input type="submit" value="Vote">

</form>